VITE_SUPABASE_URL='https://lbdbxrfhorkrqfshsnue.supabase.co'
VITE_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxiZGJ4cmZob3JrcnFmc2hzbnVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE0NjAyMzAsImV4cCI6MjA2NzAzNjIzMH0.sY4P9PExxA-8IaimIk4LY_FcXYgpZFkSRQjzTD3w8Lk'